In [1]:
import pandas as pd

In [2]:
import json

In [3]:
import random

In [4]:
file_path = "data/explanations/german_credit_explanations.jsonl"

In [6]:
with open(file_path, "r") as f:
    records = [json.loads(line) for line in f]
df = pd.DataFrame(records)
df.sample(10, random_state=42)

,input,label,explanation
521,"status=... < 100 DM, duration=18, savings=... ...",good,Application approved due to young applicant.
737,"status=... < 100 DM, duration=18, savings=100 ...",bad,Application denied due to stable financial pro...
740,"status=... < 100 DM, duration=24, savings=100 ...",bad,Application denied due to stable financial pro...
660,status=... >= 200 DM / salary for at least 1 y...,bad,Application denied due to young applicant.
411,"status=no checking account, duration=33, savin...",bad,Application denied due to high loan amount.
678,"status=... < 100 DM, duration=24, savings=... ...",bad,Application denied due to stable financial pro...
626,status=... >= 200 DM / salary for at least 1 y...,bad,Application denied due to stable financial pro...
513,"status=0 <= ... < 200 DM, duration=12, savings...",bad,Application denied due to young applicant.
859,"status=no checking account, duration=9, saving...",bad,Application denied due to stable financial pro...
136,"status=no checking account, duration=27, savin...",bad,Application denied due to high loan amount.